// home.scss
// aoneill - 05/11/15

@import 'globals';
@import 'mixins';

$bubble-size: 200px;

div#content {
  position: relative;
  width: 100%;
  min-width: $min-width;

  @include mobile {
    height: calc(100% - #{$nav-mobile});
  }

  @include tablet {
    height: calc(100% - #{$nav-tablet});
  }

  @include desktop {
    height: calc(100% - #{$nav-desktop}); 
  }
  
  box-sizing: border-box;
  
  @include tablet {
    text-align: center;
  }

  div.bubble-container {
    @include mobile {
      margin-top: 50px;
    }

    @include tablet {
      margin-top: 50px;
      display: inline-block;
    }

    @include desktop {
      @include centerY;
      
      padding: 0 7%;
      text-align: justify;
    }

    div.bubble { 
      display: inline-block;
      text-align: center;
 
      @include tablet {
        float: left;
      }

      @include mobile {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
      }

      div {
        position: relative;
        height: $bubble-size;
        width: $bubble-size;
 
        @include mobile {
          @include centerX;
        }

        overflow: hidden;
        @include border-radius(250px / 2);
 
        img {
          @include centerXY;
        }
      }
 
      span {
        display: block;
        margin-top: 10px;
        font-size: 32px;
      }
    }

    @include tablet {
      div.bubble:nth-child(2n + 1) {
        clear: left;
        margin-right: 50px;
        margin-bottom: 25px;
      }
      div.bubble:nth-child(0) {
        clear: none;
      }
      div.bubble:nth-child(2n) {
      }
    }
 
    span.stretch {
      width: 100%;
      display: inline-block;
    }
  }
}
