// navbar.scss
// aoneill - 05/09/15

@import 'globals';
@import 'mixins';

div.top {
  position: fixed;
  top: 0;
  z-index: 314159;
}

div#navbar {
  @include mobile {
    height: $nav-mobile;
  }
  
  @include tablet {
    height: $nav-tablet;
  }

  @include desktop {
    height: $nav-desktop;
  }

  width: 100%;
  min-width: $min-width;
  margin: 0 auto;
  padding: 10px;
  cursor: default;

  @include box-shadow($blue-color);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  div.logo {
    @include handheld {
      position: relative;
      text-align: center;
    }

    @include desktop {
      @include centerY;
      margin-left: 20px;
      float: left;
    }
  
    span.text {
      font-size: 42pt; 
    }
    
    span.rope {
      @include centerX;
    
      display: block;
      background-image: url('/images/rope.png');
      width: 258px;
      height: 4px;
    }
  }
  
  div.links {
    @include mobile {
      display: none;
    }

    @include tablet {
      @include centerX;
      display: inline-block;
      margin-top: 20px;
      float: none;
    }

    @include desktop {
      @include centerY;
      margin-right: 20px;
      float: right;
    }

    div.buttons {
      height: 30px;
    }
    
    div.button {
      width: auto;
      height: 30px;
      float: left;
    }
    
    div.button-content {
      height: 16px;
      line-height: 16px;
      text-align: center;
      padding: 4px;
      
      font-size: 30px;
      cursor: pointer;
    }
    
    div.button-hover {
      background-color: $link-color;
      margin: 0 6px;
    }
    
    div.spacer {
      height: 30px;
      width: 20px;
      text-align: center;
    
      float: left;
    }
    
    div.sailboat-track {
      @include mobile {
        display: none;
      }
      
      height: 16px;
      margin-top: 2px;
      padding: 0 18px;
      width: auto;
    
      img.boat {
        position: absolute;
      }
    }
  }
}

div.navbar-filler {
  @include mobile {
    height: $nav-mobile;
  }
  
  @include tablet {
    height: $nav-tablet;
  }
 
  @include desktop {
    height: $nav-desktop;
  }
  
  width: 100%;
}
