<html>
  <head>
    <!-- Styling -->
    <link rel="icon" type="image/x-icon" href="/images/favicon/v4.ico" />
    <title>Alex O'Neill</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- Scripts -->
    <script src="/js/jquery.js"></script>
    <script src="/js/globals.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body class="font white-background">
    <!-- Top Bar -->
    <div id="navbar" class="white-background blue-font no-select top">
      <div class="logo">
        <span class="text">Alex O'Neill</span>
        <span class="rope"></span>
      </div>
      <div class="links">
        <div class="buttons">
          <div class="button" href="#me">
            <div class="button-content font no-select">Me</div>
            <div class="button-hover"></div>
          </div>
          <div class="spacer"></div>
          <div class="button" href="#coding">
            <div class="button-content font no-select">Coding</div>
            <div class="button-hover"></div>
          </div>
          <div class="spacer"></div>
          <div class="button" href="#sailing">
            <div class="button-content font no-select">Sailing</div>
            <div class="button-hover"></div>
          </div>
          <div class="spacer"></div>
          <div class="button" href="#photography">
            <div class="button-content font no-select">Photography</div>
            <div class="button-hover"></div>
          </div>
        </div>
        <div class="sailboat-track">
          <img class="boat" src="/images/sailboat-right.png"/>
        </div>
      </div>
    </div>
    <div class="navbar-filler blue-background"></div>
    
    <!-- Content -->
    <div id="content">
      <div id="me" class="section no-select blue-background">
        <img class="center" src="/images/home/me/preview.jpg" />
        <div class="overlay-text center white-font">Me</div>
        <div class="overlay-description center white-font">
          <h1>My life, my likes, my interests.</h1>
          <span>All things someone would want to know about me.</span>
        </div>
      </div>
      <div id="coding" class="section no-select blue-background">
        <img class="scrolling" src="/images/home/coding/preview.png" />
        <div class="overlay-text center white-font">Coding</div>
        <div class="overlay-description center white-font">
          <h1>My code, my languages, my projects.</h1>
          <span>What you should know if you want to hire me.</span>
        </div>
      </div>
      <div id="sailing" class="section no-select blue-background">
        <img class="center" src="/images/home/sailing/preview.jpg" />
        <div class="overlay-text center white-font">Sailing</div>
        <div class="overlay-description center white-font">
          <h1>My sport, my love of boating.</h1>
          <span>The story of a kid who signed up for a summer camp.</span>
        </div>
      </div>
      <div id="photography" class="section no-select blue-background">
        <img class="center" src="/images/home/photography/preview.jpg" />
        <div class="overlay-text center white-font">Photography</div>
        <div class="overlay-description center white-font">
          <h1>My hobby, my artsy side.</h1>
          <span>A free chance to critique some guy's photos.</span>
        </div>
      </div>
      <div id="footer" class="footer white-background white-font">
      </div>
    </div>
  </body>
</html>
