<html>
  <head>
    <!-- Styling -->
    <link rel="icon" type="image/x-icon" href="/images/favicon/v4.ico" />
    <title>Alex O'Neill</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/roboto.css" />
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/home.css" />

    <!-- Scripts -->
    <script src="/js/jquery.js"></script>
    <script src="/js/globals.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body class="font white-background">
    <!-- Top Bar -->
    <div id="navbar" class="white-background blue-font no-select top">
      <div class="logo">
        <span class="text">Alex O'Neill</span>
        <span class="rope"></span>
      </div>
      <div class="links">
        <div class="buttons">
          <div class="button" href="#me">
            <div class="button-content font no-select">Me</div>
            <div class="button-hover"></div>
          </div>
          <div class="spacer"></div>
          <div class="button" href="#coding">
            <div class="button-content font no-select">Coding</div>
            <div class="button-hover"></div>
          </div>
          <div class="spacer"></div>
          <div class="button" href="#sailing">
            <div class="button-content font no-select">Sailing</div>
            <div class="button-hover"></div>
          </div>
          <div class="spacer"></div>
          <div class="button" href="#photography">
            <div class="button-content font no-select">Photography</div>
            <div class="button-hover"></div>
          </div>
        </div>
        <div class="sailboat-track">
          <img class="boat" src="/images/sailboat-right.png"/>
        </div>
      </div>
    </div>
    <div class="navbar-filler blue-background"></div>
    
    <!-- Content -->
    <div id="content">
      <div class="bubble-container blue-font">
        <div id="example" class="bubble">
          <div class="bubble-circle">
            <img src="/images/home/me/preview.jpg" />
          </div>
          <span>Me</span>
        </div>
        <div id="example" class="bubble">
          <div class="bubble-circle">
            <img src="/images/home/coding/preview.png" />
          </div>
          <span>Coding</span>
        </div>
        <div id="example" class="bubble">
          <div class="bubble-circle">
            <img src="/images/home/sailing/preview.jpg" />
          </div>
          <span>Sailing</span>
        </div>
        <div id="example" class="bubble">
          <div class="bubble-circle">
            <img src="/images/home/photography/preview.jpg" />
          </div>
          <span>Photography</span>
        </div>
        <span class="stretch"></span>
      </div>
    </div>
  </body>
</html>
